.custom-modal .ant-modal-content {
    animation: slide-up 0.4s ease-out;
  }

  
  .custom-rate .ant-rate-star-zero {
    color: green; /* Set the color for unfilled stars */
  }
  .custom-rate .ant-rate-star-full {
    color: red; /* Set the color for filled stars */
  }

  .service-dropdown {
    display: flex;
    flex-direction: column;
    gap:2px;
    cursor: pointer; 
    width: 20px;
    justify-content: center;
    align-items: center;
  }
  .dot {
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background-color: #605d5d;
    transition: background-color 0.3s ease; 
  }
  .service-dropdown:hover .dot {
    background-color: #555; 
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
