html{
  overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%; /* Ensure the body takes at least the full height of the viewport */
    
  }
  


#root {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    /* height: auto; */
    
   
    
    /* Remove overflow-x: hidden to allow sticky positioning to work */
  }
  

  .main-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 10; /* Ensure it's on top of other content */
    width: 100%;
  }
  

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
  }


  .avatar-uploader {
    border: 2px dashed rgb(208, 206, 206); /* Change to a thicker, more visible dashed border */
    border-radius: 50%; /* Ensures the border matches the circular shape */
    width: 104px; /* Adjust to fit your design */
    height: 104px; /* Adjust to fit your design */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: border-color 0.3s;
  }
  
  .avatar-uploader:hover {
    border-color: #40a9ff; /* Brighter blue on hover for better visibility */
  }
  
  .prevent-scroll {
    position: fixed;
    overflow: hidden;
  }